html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes aparecer-elemento {
  0% {
    transform: translateY(-200px);
    opacity: 0; }
  100% {
    opacity: 1; } }

/*  NAVEGADOR */
.navbar {
  background-color: #c8dad4c5;
  position: sticky;
  top: .1px;
  z-index: +1; }

.navbar-collapse {
  flex-grow: inherit !important; }

.nav-item {
  margin: 2px;
  padding: 4px; }
  .nav-item a {
    font-family: Arial, Helvetica, sans-serif; }

.nav-item:hover {
  background-color: #05412f21;
  border-radius: 8px;
  transform: scale(0.9, 0.9);
  transition-duration: .3s;
  animation-timing-function: ease; }

/*  Prog Ppal */
.prog-ppal {
  background-color: #f7f9fb; }

.bienvenida, h3, .beneficios-prog-ppal {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  font-size: 35px;
  color: #041a04; }

h3 {
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 25px; }

/*  INTRODUCCION */
.introduccion {
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px; }
  .introduccion p {
    text-align: center;
    line-height: 2;
    font-size: 16px; }

.text-center {
  text-align: start !important; }

/*  PROGRAMA PRINCIPAL */
.flex-prog-ppal {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px; }
  .flex-prog-ppal div {
    margin-left: 40px;
    margin-right: 40px;
    animation-name: aparecer-elemento;
    animation-duration: 1s;
    animation-timing-function: ease; }
    .flex-prog-ppal div img {
      min-width: 250px;
      padding-bottom: 20px;
      border-radius: 40px;
      filter: drop-shadow(4px -4px 40px #000000c5); }
    .flex-prog-ppal div p {
      text-align: center;
      font-size: 15px; }

.flex-ppal-servicios {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center; }
  .flex-ppal-servicios div {
    margin-left: 40px;
    margin-right: 40px; }
  .flex-ppal-servicios h2 {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px; }
  .flex-ppal-servicios p {
    width: 50vw;
    padding-top: 2px;
    font-size: 15px;
    padding-right: 40px;
    padding-left: 40px; }

.bg-gray {
  background-color: #f3f3f3; }

/*  BENEFICIOS-INICIO */
.beneficios {
  background-color: #dad4d4e0; }

.beneficios-prog-ppal {
  text-align: center; }

.lista-beneficios {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .lista-beneficios li {
    position: relative;
    padding: 16px; }
    .lista-beneficios li p {
      padding-left: 20px; }
    .lista-beneficios li .rombo {
      width: 10px;
      height: 10px;
      background: #163504;
      transform: rotate(45deg);
      position: absolute;
      top: 24px; }

/*  MQ */
@media screen and (max-width: 1440px) {
  .introduccion {
    margin-left: 2px;
    margin-right: 2px; }
    .introduccion p {
      text-align: center;
      line-height: 2; } }

@media screen and (max-width: 1020px) {
  .flex-prog-ppal {
    flex-direction: column; }
    .flex-prog-ppal div {
      padding-bottom: 20px; }
  .flex-ppal-servicios {
    flex-direction: column;
    align-items: center; }
    .flex-ppal-servicios p {
      width: 100vw; } }

@media screen and (max-width: 760px) {
  .lista-beneficios {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr; }
  .introduccion p {
    font-size: 13px; }
  .lista-beneficios li p {
    padding-left: 20px;
    font-size: 13px; }
  .flex-prog-ppal div p {
    font-size: 13px; } }

@media screen and (max-width: 375px) {
  .prog-ppal h1 {
    font-size: 30px; }
  .prog-ppal h3 {
    font-size: 20px; } }

/*  FOOTER */
.footer {
  background-color: #2d5332;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #051808;
    margin-bottom: 5px !important; }
  .footer a {
    font-family: Arial, Helvetica, sans-serif; }
  .footer a:hover {
    text-decoration: underline; }

.red-whatsapp {
  color: #051808;
  display: flex;
  padding-top: 12px; }
  .red-whatsapp img {
    padding-right: 2px;
    margin-right: 5px; }

.red-facebook {
  color: #0000ff;
  display: flex;
  padding-top: 12px; }
  .red-facebook img {
    padding-right: 2px;
    margin-right: 5px; }

.red-gmail {
  color: #521c1c;
  display: flex;
  padding-top: 12px; }
  .red-gmail img {
    padding-right: 2px;
    margin-right: 5px; }
