/*  MQ */
@media screen and (max-width:1440px) {
    .introduccion {
        margin-left: 80px;
        margin-right: 80px;


    }
}

@media screen and (max-width:1020px) {

    .flex-prog-ppal {
        flex-direction: column;

        p {
            width: 60vw;
        }

    }

    .container-fluid {
        justify-content: space-between !important;
    }

    .introduccion {
        margin-left: 60px;
        margin-right: 60px;


    }


    .logo-texto {
        p {
            display: none;
        }
    }

    p {
        padding-top: 12px;
    }

    .flex-quienes-somos {
        h4 {
            text-align: center;
        }

        p {
            text-align: center;
            width: 70vw;
        }

    }

}

@media screen and (max-width:990px) {
    .container-fluid {
        background-color: #6d6a6ae7;

    }

    .flex-quienes-somos {

        p {
            width: 80vw;
        }

    }

}

@media screen and (max-width: 760px) {
    .flex-prog-ppal {
        p {
            width: 70vw;
        }

    }

    .lista-beneficios {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
    }



    .lista-beneficios {
        li {
            p {
                padding-left: 20px;
                font-size: 13px;
            }
        }
    }

    .bienv-flex {
        flex-direction: column;
        align-items: center;

        .bienvenida2 {
            padding-top: 0;
        }
    }

    .introduccion {
        margin-left: 6px;
        margin-right: 6px;
    }

    .footer {
        flex-direction: column;
    }

    .flex-quienes-somos {
        p {
            width: 100vw;
        }

    }
}

@media screen and (max-width:520px) {
    .flex-prog-ppal {
        p {
            width: 100vw;
        }

    }
}

@media screen and (max-width:375px) {
    .prog-ppal {
        h1 {
            font-size: 30px;

        }

        h3 {
            font-size: 20px;
        }
    }

    .introduccion {
        margin-left: 0;
        margin-right: 0;
    }

    .flex-prog-ppal {
        p {
            width: 100vw;
        }

    }
}