/*  Prog Ppal */

.prog-ppal {
    background-color: #f7f9fb;

}



.bienv-flex{
    display: flex;
    justify-content: center;
    text-align: center;
    h2{
        padding-left: 10px;
    }
}

.bienvenida {
    font-family: $fuente;
    padding-top: 60px;   
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}

.bienvenida2{
    @extend .bienvenida;
    color: #318C92;
}

h3 {
    @extend .bienvenida;
    padding-top: 0;
    padding-bottom: 10px;
    // text-decoration: none;
    font-size: 25px;
}

/*  INTRODUCCION */
.introduccion {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;

    p {
        color: #707070;
        text-align: start;
        line-height: 1.5;
        font-size: 20px;
        
    }
}

.text-center{
    text-align: start !important;
}

/*  PROGRAMA PRINCIPAL */
.flex-prog-ppal {
    display: flex;
    padding-top: $padding-margin-flex;
    padding-bottom: $padding-margin-flex;

    div {
        margin-left: $padding-margin-flex;
        margin-right: $padding-margin-flex;
        animation-name: aparecer-elemento;
        animation-duration: 1s;
        animation-timing-function: ease;

        img {
            min-width: 250px;
            padding-bottom: 20px;
            border-radius: 40px;
            filter: drop-shadow(4px -4px 40px #000000c5);
        }

        p {
            font-family: $fuente;
        }
    }
}

.flex-ppal-servicios{
    display: flex;
    justify-content: space-between;
    padding-top: $padding-margin-flex;
    padding-bottom: $padding-margin-flex;
    align-items: center;
    div{
        margin-left: $padding-margin-flex;
        margin-right: $padding-margin-flex;
    }
    h2{
        padding-top: 10px;
        padding-right:$padding-margin-flex ;
        padding-left: $padding-margin-flex;
    }
    p{
        width: 50vw;
        padding-top: 2px;
        font-size: 15px;
        padding-right:$padding-margin-flex ;
        padding-left: $padding-margin-flex;
    }
}

.bg-gray{
    background-color: #f3f3f3;
}


/*  BENEFICIOS-INICIO */

.beneficios {
    background-color: #dad4d4e0;

}

.beneficios-prog-ppal {
    text-align: center;
    @extend .bienvenida;
    // text-decoration: none;
}

.lista-beneficios {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    li {
        position: relative;
        padding: 16px;

        p {
            padding-left: 20px;
        }

        .rombo {
            width: 10px;
            height: 10px;
            background: #163504;
            transform: rotate(45deg);
            position: absolute;
            top: 24px;

        }
    }



}

