/*  Prog Ppal */
.bienv-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    h2 {
        padding-left: 10px;
    }
}

.bienvenida {
    font-family: $fuente;
    padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}

.bienvenida2 {
    @extend .bienvenida;
    color: #318C92;
}

h3 {
    @extend .bienvenida;
    padding-top: 0;
    padding-bottom: 10px;
    // text-decoration: none;
    font-size: 25px;
}

/*  INTRODUCCION */
.introduccion {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;

    p {
        color: #707070;
        text-align: start;
        line-height: 1.5;
        font-size: 20px;

    }
}

.text-center {
    text-align: start !important;
}

/*  PROGRAMA PRINCIPAL */

.flex-prog-ppal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        align-self: center;
        width: 25vw;
        font-family: $fuente;
        color: #707070;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 40px;
    }
}

.flex-ppal-servicios{
    @extend .flex-prog-ppal;
    padding-top: 20px;
    justify-content: space-evenly;
    text-align: center;
    h4{
        text-align: center;
        font-family: $fuente;
        color: #707070;
        font-size: x-large;
        padding-top: 12px;
        padding-bottom: 16px;
        
    }
    p{
        font-weight: lighter;

    }
}

.flex-quienes-somos{
    @extend .flex-ppal-servicios;
    justify-content: space-around;
    h4{
        font-size: 30px;
        color: #318C92;
        text-align: start;
        padding-left: 20px;
    }
    p{
        width: 50vw;
        text-align: start;
        font-size: 20px;
    }
    .solicitar-servicios{
        padding-bottom: 20px;
        position: relative;
        a{
            color: #318C92;
            font-weight: bold;

        }
        img{
            width: 300px;
            height: 220px;
            border-radius: 20px;
        }

        p{
            color: #ffffff;
            position: absolute;
            bottom: 4px;
            left: 52px;
            width: 20vw;
        }
    }
}

.formulario{
    background-color: #f2f3f5;
    padding: 40px;
    margin-bottom: 48px;
    border-radius: 24px;
    font-family: $fuente;
    h4{
        padding-bottom: 24px;
    }
    
    div{
        padding: 8px;
        label{
            padding: 10px;
        }
    }
    .inputs{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #318C92 ;
        resize: none;
    }
    .enviar{
        width: 50%;
        padding: 12px;
        border: 2px solid #051c1f;
        border-radius: 6px;
        color: white;
        background-color: #318C92;
    }

    .env-limp{
        input{
            margin-bottom: 12px;
        }
    }
}

.bg-contacto{
    background-color: #f2f3f5;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 28px;
    .contacto-ppal{
        display: flex;
        justify-content: center;
        align-content: center;

        img{
            padding: 20px;
        }
    }
}



