/*  Prog Ppal */

.prog-ppal {
    background-color: #f7f9fb;

}



.bienv-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    h2 {
        padding-left: 10px;
    }
}

.bienvenida {
    font-family: $fuente;
    padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}

.bienvenida2 {
    @extend .bienvenida;
    color: #318C92;
}

h3 {
    @extend .bienvenida;
    padding-top: 0;
    padding-bottom: 10px;
    // text-decoration: none;
    font-size: 25px;
}

/*  INTRODUCCION */
.introduccion {
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;

    p {
        color: #707070;
        text-align: start;
        line-height: 1.5;
        font-size: 20px;

    }
}

.text-center {
    text-align: start !important;
}

/*  PROGRAMA PRINCIPAL */

.flex-prog-ppal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        align-self: center;
        width: 25vw;
        font-family: $fuente;
        color: #707070;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 40px;
    }
}

.flex-ppal-servicios{
    @extend .flex-prog-ppal;
    padding-top: 20px;
    justify-content: space-evenly;
    text-align: center;
    background-color: #f3f3f37a;
    h4{
        text-align: center;
        font-family: $fuente;
        color: #707070;
        font-size: x-large;
        padding-top: 12px;
        padding-bottom: 16px;
        
    }
    p{
        font-weight: lighter;

    }
}

.flex-quienes-somos{
    background-color: white;
    @extend .flex-ppal-servicios;
    justify-content: space-around;
    h4{
        font-size: 30px;
        color: #318C92;
        text-align: start;
        padding-left: 20px;
    }
    p{
        width: 50vw;
        text-align: start;
        font-size: 20px;
    }
    div{
        padding-bottom: 20px;
        a{
            color: #318C92;
            font-weight: bold;
        }
    }
}


/*  BENEFICIOS-INICIO */

// .beneficios {
//     background-color: #f5f1f1e0;

// }

// .beneficios-prog-ppal {
    
    
//     @extend .bienvenida;
//     padding-bottom: 16px;
//     text-align: center;
//     // text-decoration: none;
// }

// .lista-beneficios {
//     list-style-type: none;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr 1fr;

//     li {
//         position: relative;
//         padding: 16px;

//         p {
//             padding-left: 20px;
//             font-family: $fuente;
//             color: #707070;
//         }

//         .rombo {
//             width: 10px;
//             height: 10px;
//             background: #163504;
//             transform: rotate(45deg);
//             position: absolute;
//             top: 18px;

//         }
//     }



// }